body {
  padding-top: 5rem;
}

main {
  color: greenyellow;
  /* text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; */
  font-family: "Arial Black", Gadget, sans-serif;
}

.main-header {
  color: greenyellow;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-family: "Arial Black", Gadget, sans-serif;
  padding: 1rem 1.5rem;
  text-align: center;
}

.page-header {
  color: greenyellow;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.select-label {
  color: black;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  padding: 0.5rem 1.5rem;
  font-size: 18px;
}

.picker {
  text-align: left;
  padding: 15px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.button {
  background-color: greenyellow;
  border-radius: 12px;
  border-color: black;
  color: black;
  padding: 5px 15px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.table {
  text-align: left;
  display: left;
  justify-content: left;
  background-color: whitesmoke;
  color: black;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  }

.box {
  background-color: whitesmoke;
  padding: 15px  10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.starter-template {
  padding: 2rem 1.5rem;
  text-align: center;
  color: black;
}