body {
  padding-top: 5rem;
}

main {
  color: greenyellow;
  /* text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; */
  font-family: "Arial Black", Gadget, sans-serif;
}

.main-header {
  color: greenyellow;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-family: "Arial Black", Gadget, sans-serif;
  padding: 2rem 1.5rem;
  text-align: center;
}

.page-header {
  color: greenyellow;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.select-label {
  color: black;
  /* text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; */
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0.5rem 1.5rem;
  font-size: 18px;
}

.picker {
  text-align: left;
  padding: 15px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.button {
  background-color: whitesmoke;
  border: none;
  color: black;
  padding: 5px 15px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.table {
  text-align: left;
  display: left;
  justify-content: left;
  background-color: whitesmoke;
  color: black;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  }
  /* @media only screen and (max-width: 1000px) {
      .table {
          text-align: center;
          display: flex;
          justify-content: flex-start;
      }
  } */

.starter-template {
  padding: 2rem 1.5rem;
  text-align: center;
}