<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/mtb.ico">

    <title>Mountain Bike Trail Recommender</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">
  </head>

  <body style="background-image: url('../static/images/bw_pic.jpg');
  background-repeat: no-repeat; background-size: cover;width:100%;">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/inputs">From One Trail</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="/inputs_multi">From Multiple Trails</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
        <div class="starter-template">
            <div class="page-header">
                <h1>Get recommendations based on a trail you like.</h1>
            </div>

            <div style="padding: 5px 20px 25%;">
              <div class="box">
                <form action="/recommendations" method='POST' >
                    <div class="select-label">Select a trail that you like. You can start typing the trail name to see options.</div>

                    <select name="trail" id="select_trail" class="picker">
                      <option value=''>Select a trail...</option>
                      {% for trail in trail_names|sort %}
                        <option value="{{ trail }}">{{ trail }}</option>
                      {% endfor %}
                    </select>
                    <br></br>
                      
                    <div class="select-label">Optional: Select a maxium distance from Denver for trail recommendations.</div>

                        <input type = "radio"
                              name = "maxDist"
                              id = "anyDist"
                              value = "200+ miles"
                              checked = "checked" />
                        <label for = "anyDist">Any Distance </label>
                        <input type = "radio"
                                name = "maxDist"
                                id = "under200"
                                value = "100-200 miles" />
                        <label for = "under200">Less than 200 miles </label>
                        <input type = "radio"
                                name = "maxDist"
                                id = "under100"
                                value = "50-100 miles" />
                        <label for = "under100">Less than 100 miles </label>
                        <input type = "radio"
                                name = "maxDist"
                                id = "under50"
                                value = "25-50 miles" />
                        <label for = "under50">Less than 50 miles </label>
                        <input type = "radio"
                                name = "maxDist"
                                id = "under25"
                                value = "0-25 miles" />
                        <label for = "under25">Less than 25 miles </label>
                </div>

                    <div>
                    </br>
                        <button class="button" type="submit">Show me where to shred</button> 
                    </div>

                </form>
            </div>

            <div class="view" >
            </div>
        </div>
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>