<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/mtb.ico">

    <title>Mountain Bike Trail Recommender</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">
  </head>

  <body style="background-image: url('../static/images/bw_pic.jpg');
  background-repeat: no-repeat; background-size: cover;width:100%;">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/inputs">From One Trail</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="/inputs_multi">From Multiple Trails</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
        <div class="starter-template">
            <div class="page-header">
                <h1>Recommendations</h1>
            </div>

            <div class="select-label">Your Trail</div>
            <table class='table'>
                <tr>
                <th>NAME</th>
                {% for col in trail_df.columns[2:] %}
                <th>{{col.upper().replace('_', ' ')}}</th>
                {% endfor %}
                </tr>
                {% for _, row in trail_df.iterrows() %}
                <tr>
                    <td> <a href = {{row.url}} target="_blank">{{row['name']}}</a> </td>
                    {% for entry in row[2:] %}
                    <td>{{ entry }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <p></p>

            <div class="select-label">Trail Recommendations <br>within Selected Distance</div>
            <table class='table'>
                <tr>
                <th>NAME</th>
                {% for col in reccos_df.columns[2:] %}
                <th>{{ col.upper().replace('_', ' ') }}</th>
                {% endfor %}
                </tr>
                {% for _, row in reccos_df.iterrows() %}
                <tr>
                    <td> <a href = {{row.url}} target="_blank">{{row['name']}}</a> </td>
                    {% for entry in row[2:] %}
                    <td>{{ entry }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

          {% if not other_reccos_df.empty %}
            <div class="select-label">Trail Recommendations <br>beyond Selected Distance</div>
            <table class='table'>
                <tr>
                <th>NAME</th>
                {% for col in other_reccos_df.columns[2:] %}
                <th>{{ col.upper().replace('_', ' ') }}</th>
                {% endfor %}
                </tr>
                {% for _, row in other_reccos_df.iterrows() %}
                <tr>
                    <td> <a href = {{row.url}} target="_blank">{{row['name']}}</a> </td>
                    {% for entry in row[2:] %}
                    <td>{{ entry }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
          {% endif %}

            <div style="text-align: center">
                <form action="/inputs" method='GET' >
                    <button class="button" type="submit">Try another trail</button> 
                </form>
            </div>

            <div class="view" >
            </div>
        </div>
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>